body {
    background-color: #70C077;
}

.donate-box {
    width: 72vw;
    height: 40vw;
    background-color: #FFFFFF;
    margin: auto;
    border-radius: 20px;
}

.donate-box div:first-child {
    margin: auto;
    width: 50%;
}

.donate-box div:first-child h3:first-child {
    margin: auto;
    font-size: 39px;
    text-align: center;
    font-weight: bold;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    ;
}